*{
    font-family: "Sora", sans-serif;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    min-height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #FAFAF9;
}

main{
 width: 368px;
 border-radius: 16px;
 background-color: #ffff;
 box-shadow: 8px 8px 20px 0px rgba(44, 44, 44, 0.08);
}

.contenu-global{
    border-radius: 10px;
}


.photo{
   border-radius: 12px;
   width: 336px;
   height: 152px;
   margin: 16px;
}

.badge p{
    font-size: 10px;
    font-weight: bold;
    color: #7C19EE;
    border-radius: 9999px;
    display: inline-block;
    background-color: #F2EAFD;
    line-height: 1;
    padding: 6px 12px;
    margin: 0px 0px 16px 16px;
}

.badge{
    background-color: #ffff;
}

.contenu-body{
    margin: 0px 16px;
}

.contenu-body h1{
    font-size: 18px;
    margin-bottom: 6px;
    color: #20293A;
}

.contenu-body p{
    font-size: 14px;
    font-weight: 200;
    margin-bottom: 20px;
    line-height: 1.6;
}

.auteur{
    font-size: 12px;
    font-weight: 300;
    color: #20293A;
    margin: 0px 16px 20px 16px;
}

.divider{
  height: 1px;
  background-color: #E5EAF0;
  margin: 0 0px 20px 0px;
  width: 100%;
}
